<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PasswordCrawler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <PasswordCrawler.Properties.Settings>
            <setting name="PasswordDatabase" serializeAs="String">
                <value>%APPDATA%\code-lab\AutoDecrypt\password.sqlite</value>
            </setting>
            <setting name="Pop3Server" serializeAs="String">
                <value />
            </setting>
            <setting name="Pop3UserID" serializeAs="String">
                <value />
            </setting>
            <setting name="Pop3Password" serializeAs="String">
                <value />
            </setting>
            <setting name="LastMessageID" serializeAs="String">
                <value />
            </setting>
        </PasswordCrawler.Properties.Settings>
    </userSettings>
</configuration>